audio {
  border: solid 1px black;
  margin-bottom: 50px;
}

.title {
  color: white;
  background-image: url('crowd.jpg');
  background-size: contain;
  padding: 20px;
}

select {
  width: 90%;
  margin: 0 auto;
  font-size: 25px;
  border: 5px solid #62C1F6;
  margin-left: 50px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

img {
  width: 200px;
  border: 7px solid #65009F;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

body{
  font-family: 'Rubik', sans-serif;
  background: #ECF5F7;
}
article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.modal-container {
   position: relative;
 }
.modal-container .modal, .modal-container .modal-backdrop {
   position: absolute;
 }

 #modal-text {
   color: black;
 }

.title-text {
  display: table;
  background: rgba(104,0,178, 0.6);
  text-shadow: 2px 2px 5px black;
  border-radius: 7px;
}

#song-title {
  font-weight: bold;
}
